# Project
/.venv/
# Learning
/learning/source/
# Object Detection
/object_detection/resources/
/object_detection/models/
# Face Generation
/face_generation/resources/
/face_generation/models/
# Face ID
/face_recognition/data/
/face_recognition/models/
/face_recognition/checkpoints/
/face_recognition/.env
# Jarvis
/Jarvis/data/
/Jarvis/models/
/Jarvis/logs/
/Jarvis/.env