fastapi==0.140.13
faster_whisper==1.2.1
flet==0.86.0
keyboard==0.13.5
matplotlib==3.11.1
numpy==2.5.1
openwakeword==0.6.0
psycopg2_binary==2.9.12
pydantic==2.13.4
python-dotenv==1.2.2
python_vlc==3.0.21203
Requests==2.34.2
scikit_learn==1.9.0
seaborn==0.13.2
sounddevice==0.5.5
torch==2.4.1
torch_directml==0.2.5.dev240914
tqdm==4.67.3
transformers==5.6.2
yandex_music==3.0.0